* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header h1 {
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
}

.row h2 {
    font-weight: normal;
    font-size: 1.7rem;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}


.col-2>img {
    width: 100%;
}

.col {
    align-content: stretch;
    border: 1px solid black;
    padding: 0 30px;
}

.col-3 {
    width: 75%;
    padding: 0;
}

.news {
    padding: 3vh 0px 3vh 5%;
}

.news>a {
    font-size: 2rem;
    color: grey;
    text-decoration: none;
}

.news>a:hover {
    text-decoration: underline;
}

.news-politics {
    background-color: khaki;
}

.news-tech {
    background-color: rgb(202, 135, 182);
}

.news-local {
    background-color: rgb(140, 240, 145);
}

.news-opinion {
    background-color: rgb(140, 212, 240);
}

.news-sports {
    background-color: rgb(184, 179, 142);
}