.container {
    width: 1000px;
}

.float-left {
    float: left;
}

.white {
    height: 200px;
}

.profile {
    width: 30%;
}

.pet-details {
    width: 40%;
}

.booking {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5%;
    border-left: 1px solid #0001;
    padding-left: 10px;
}

.contact {
    text-align: left;
}

.gallery {
    display: block;
    width: 100%;
}

.gallery .more-images {
    display: inline-block;
    width: 33%;
}